.Rlight {
	font-family: Roboto Light;
}

.RThin {
	font-family: Roboto Thin;
}

.Header {
	height: 40px;
	overflow: hidden;
}

.headermenuselect {
	font-weight: 600;
	text-transform: uppercase;
}

.headermenu {
	font-weight: 500;
	text-transform: uppercase;
}

.headerphone {
	top: 10px;
	position: relative;
}

.Vactitle {
	font-size: 13px;
	color: #0b879e;
	font-weight: 500;
}

.secondtext {
	font-size: 13px;
	color: #698591;
}

.subtext {
	font-size: 12px;
	color: #7d7974;
}

.st1 {
	font-size: 14px;
	color: #fff;
	font-weight: 400;
}

.st2 {
	font-size: 15px;
	color: #fff;
	font-weight: 500;
}

.texlogo {
	background-image: url(../images/logo.PNG);
	background-position: 50% 10%;
	background-repeat: no-repeat;
	height: 70px;
	background-size: contain;
	margin-left: 50px;
}

.SubTitle {
	font-size: 16px;
	color: #7e8f9c;
	padding-left: 15px;
	text-transform: uppercase;
}

.texTitle {
	color: #06aed5;
	padding-left: 15px;
	text-transform: uppercase;
	font-size: 18px;
}

.titleline {
	width: 3px;
	height: 60px;
	background-color: #06aed5;
}

.footerimg {
	background-image: url(../images/footer.jpg);
	background-position: center;
	background-repeat: no-repeat;
	height: auto;
	background-size: cover;
	background-position: -197px 22%;
}

.clientlist {
	margin: 0px 10px 0px 0px;
	border: 1px solid #ff0000;
}

.pagedivider {
	background-color: #f7f7f7;
}

.parallax-container {
	height: 100px;
	width: 100%;
}

.pagebannertext {
	height: 75px;
	vertical-align: middle;
	display: table-cell;
	position: relative;
	font-weight: 600px;
	font-size: 16px;
}

.dumheight {
	height: 42px;
}

.noborder {
	border: 0px solid #e0e0e0;
}

.address {
	color: #a6afae;
	font-size: 12px;
}

.detailtxt {
	color: #90949c;
	font-size: 13px;
	white-space: normal;

}

.padding5 {
	padding: 5px;
}

.icon {
	color: #5f7d8c;
}

.childtitle {
	color: #5f7d8c;
	font-size: 13px;
}

.childat {
	color: #5f7d8c;
	font-size: .9em;
}

.bottomborder {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

.fbtntool {
	margin-left: -80px;
	color: #fff;
	z-index: 9999999;
	position: absolute;
	white-space: nowrap;
	background-color: #0187D0;
	margin-top: 5px;
	padding: 5px;
	border-radius: 3px;
	line-height: 12px;
} 


.dropdown-content {
	width : auto;
 }

.avt {
	width: 30px;
	height: 30px;
	margin-top: 5px;
}

#Client-list .collection .collection-item.selected {
	background: #e1f5fe;
	border-left: 4px solid #29b6f6;
}

#Client-details .collection .collection-item.avatar img.circle {
	padding: 0;
}

#Client-details .collection {
	border: none;
}

@media only screen and (min-width: 601px) {
	.texlogo {
		background-image: url(../images/logo.PNG);
		background-repeat: no-repeat;
		width: 400px;
		height: 86px;
		margin-left: 50px;
		background-size: cover;
	}

	.navbar-fixed {
		height: 100px;
	}

	.pagebannertext {
		height: 100px;
		vertical-align: middle;
		display: table-cell;
		position: relative;
		font-weight: 600px;
		font-size: 36px;
	}
}

@media only screen and (min-width: 992px) {
	.texlogo {
		background-image: url(../images/logo.PNG);
		background-repeat: no-repeat;
		width: 408px;
		height: 88px;
		margin-left: 0px;
		background-size: cover;
		margin-top: 6px;
	}

	.pagebannertext {
		height: 100px;
		vertical-align: middle;
		display: table-cell;
		position: relative;
		font-weight: 600px;
		font-size: 36px;
	}

	.navbar-fixed {
		height: 142px;
	}
}

.selected {
	background-color: rgba(132, 206, 243, 0.95);
}

select {
	background-color: transparent;
	width: 100%;
	padding: 5px;
	border: none;
	border-radius: 2px;
	height: 3rem;
	border-bottom: 1px solid #9e9e9e;
}

select {
	display: unset !important;
}

span.caret {
	display: none !important;
}

input.select-dropdown {
	display: none !important;
}

li.logdet {
	margin-top: 10px;
	padding: 6px;
	font-weight: bold;
}

.logdet a {
	color: #fff;
}

.mdi-arrow-left {
	padding-top: 9px;
}

div.resultframe {
	margin-top: 12px;
}

.modal-footer .waves-green.btn-flat {
	background-color: #26a69a;
	color: #fff;
	margin-right: 22px;
}

.errortextcaption {
	color: red;
}

.commontxtboxcls {
	margin-bottom: 0px !important;
}

.datepicker {
	z-index: 9999 !important;
}

#loading {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	opacity: 0.7;
	background-color: #fff;
	z-index: 99;
	text-align: center;
}

#loading-image {
	position: absolute;
	top: 50%;
	left: 45%;
	z-index: 100;
}

div#appMember {
	width: 100% !important;
}

.capitalize {
	text-transform: lowercase;
}

.capitalize::first-line {
	text-transform: capitalize;
}

.ishold {
	background-color: #ee6e7347 !important;
}

.blink_me {
	animation: blinker 2s linear infinite;
	background-color: #D32F2F !important;
	color: white !important;
}

.blink_me_text {
	animation: blinker 2s linear infinite;
	color: #D32F2F !important;
}

@keyframes blinker {
	50% {
		opacity: 0.0;
	}
}

.dp-click {
	position: absolute !important;
    top: -4px !important;
    bottom: 0px !important;
    left: 12px !important;
    right: 0 !important;
    z-index: 10 !important;
    transform: unset !important;
}

.reviewbtnalign {
	margin-top: 15px !important;
	text-align: right;
}

/*attendance review */
.cat-heading {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

div#attenancesummarymodal {
    width: 98% !important; 
}
.autncount {
    float: left;
    /* margin-left: 7px; */
}
.redcolor {
	color: #ff1b1b !important;
}
.orangecolor {
	color: #ff8100 !important;
}
.bluecolor {
	color: blue !important;
}

#confirmationmodal {
	top: 25% !important;
}

/*end of attendance review*/

.cover-spin {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
	background: url('../images/downloadloader.gif');
}

.emptymsg {
	text-align: center;
	font-size: 20px !important;
	font-weight: bold;
	color: #0680bd;
}

.datepickercls {
	width: 100% !important;
	margin-top: 0% !important;
}

.datepickercls.active {
	width: 100% !important;
	height: 50% !important;
	margin-top: 7% !important;
}

div#ui-datepicker-div {
    width: 320px !important;
}

#attenancesummarymodal {
	top: 10% !important;
}
